.contact-background{
    margin: 0 auto;
    width: 100%;
    margin-bottom: 50px;
}
.contact-background__registration{
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}
.contact-background-registration__place{
    width: 571px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-background-registration-place-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 70px;
    width: 571px;
    border: none;
    color: #86878B;
    border-bottom: .5px solid #BDBDBD;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: none;
}
.contact-background-registration__message{
    width: 569px;
    margin-top: 26px;
    /* margin-left: 30px; */
}
.contact-background-registration-message-item{
    width: 569px;
    display: flex;
    border: none;
    color: #86878B;
    border-bottom: .5px solid #BDBDBD;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    resize: none;
    outline: none;
}
.contact-background__button{
    margin: 0 auto;
    width: 370px;
    height: 58px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    background-color: #EC7979;
    border: #EC7979;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}
.contact-background__button:hover{
    background-color: #AB4949;
}
.contact-background__button:active{
    background-color: #EC7979;
    color: white;
    border: 1px solid #EC7979;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}
@media (max-width:1170px){

    .contact-background-registration__place,.contact-background-registration__message,.contact-background-registration-place-item,.contact-right.contact-background-registration-message-item{
    width: 450px;
    }
    .contact-background__button{
        width: 320px;
    }
}

@media (max-width: 960px){
    .contact-background-registration__place,.contact-background-registration__message,.contact-background-registration-place-item,.contact-right.contact-background-registration-message-item{
        width: 300px;
        }
        .contact-background__button{
            width: 280px;
        }
}

@media (max-width:650px){
    .contact-background-registration__place,.contact-background-registration__message,.contact-background-registration-place-item,.contact-right.contact-background-registration-message-item{
        width: 260px;
    }
    .contact-background__registration{
        display: block;
    }
        .contact-background__button,.contact-background__registration{
        width: 255px;
    }
    .contact-background-registration__message{
        margin-right: 0;
    }
}