.header{
    margin: 0 auto;
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 3;
}
@media (max-width: 1170px){
    .axit-header{
        width: 95%;
    }
}
@media (max-width: 755.2px){
    .axit-header-links__button{
        display: none;
    }
    .axit-header-logo{
        margin-left: 10px;
    }
}
.axit-header{
    display: flex;
}
.axit-header-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.axit-header-links{
    margin: 0 auto;
    display: flex;
    /* width: 570px; */
    height: 75px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.axit-header-links__button{
    /* display: flex;
    height: 75px;
    width: 114px;
    align-items: center;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
 */
    width: 114px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}
.axit-header-links-img{
    display: flex;
    padding-right: 0;
    
}
@media (min-width: 755.2px){
    .axit-header-links-img{
        display: none;
    }
}